
.container1 {
width: 600px;
height: 450px;
border: solid 4px;
border-color:  #3366ff;

}

.Text {
font-family: Roboto;
font-size: 36px;
font-style: solid;
display: inline-block;
}

.qw {
width: 36px;
height: 36px;
background-color: #3366ff;
display: inline-block;
}


 TABLE {
width: 600px;
height: 450px;
border: solid 4px;
border-color:  #3366ff;   }

   TD {
    vertical-align: top; 
   }
   #col1 {
    width: 33%;
    border-right: solid 1px #3366ff;
	}
   #col2 {
    width: 33%;
    border-right: solid 1px #3366ff;
   }
   #col3 {
    width: 33%; 
   }

   #col1, #col2, #col3 {
    padding: 5px; 
   }


  .q1 {
margin-top: 40px;
  }

 .q2 {
margin-top: 10px;
margin-left: 50px;
  }

  .q3 {
  	margin-top: 30px;
  	margin-left: 50px;
  }


  .qw_2k {
  	z-index: -1;
  	width: 36px;
height: 36px;
background-color: #3366ff;
position: relative;
top: 30px;
left: 100px;
  }

  .Text_2k {
font-family: Roboto;
font-size: 36px;
font-style: solid;
position	: absolute;
/*	top		: 200px;*/
	left		: 290px;  }

.qw_3k {
  	width: 36px;
height: 36px;
background-color: #3366ff;
position: relative;
top: 180px;
left: 100px;
  }

 .Text_3k {
font-family: Roboto;
font-size: 36px;
font-style: solid;
position	: absolute;
top: 200px;
left: 500px;  
}